# Los Angeles Police Departement Crimes Analysis

In [165]:
#import all the libraries 
import pandas as pd     
import numpy as np  
import matplotlib.pyplot as plt     
import seaborn as sns 
import zipfile

In [166]:
# Unzip the file (adjust path if needed)
zip_path = "../data/crimes.zip"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("../data/")
#Read the csv file
crimes = pd.read_csv("../data/crimes.csv",parse_dates=["Date Rptd", "DATE OCC"])
#parse_dates convert the "Date Rptd" and "DATE OCC" column to date type automatically.

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/1343523357.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crimes = pd.read_csv("../data/crimes.csv",parse_dates=["Date Rptd", "DATE OCC"])
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/1343523357.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crimes = pd.read_csv("../data/crimes.csv",parse_dates=["Date Rptd", "DATE OCC"])

In [167]:
#first 5 rows 
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,...,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,2020-01-08,2020-01-08,2230,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,36,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01,330,1,Central,163,624,BATTERY - SIMPLE ASSAULT,25,...,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,191501505,2020-01-01,2020-01-01,1730,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,...,NaN,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
3,191921269,2020-01-01,2020-01-01,415,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,...,NaN,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
4,200100502,2020-01-02,2020-01-02,1315,1,Central,161,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),23,...,NaN,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631

In [168]:
crimes.isnull()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,...,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727534,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,False,True,False,False
727535,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,False,True,False,False
727536,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
727537,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,False
727538,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,True,False,True,False,False

In [169]:
crimes.isna().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Crm Cd                 0
Crm Cd Desc            0
Vict Age               0
Vict Sex           98226
Vict Descent       98232
Premis Cd              9
Premis Desc          431
Weapon Used Cd    480249
Weapon Desc       480249
Status Desc            0
Crm Cd 1              10
Crm Cd 2          676408
Crm Cd 3          726043
Crm Cd 4          727495
LOCATION               0
Cross Street      610180
LAT                    0
LON                    0
dtype: int64

In [170]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727539 entries, 0 to 727538
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           727539 non-null  int64
 1   Date Rptd       727539 non-null  datetime64[ns]
 2   DATE OCC        727539 non-null  datetime64[ns]
 3   TIME OCC        727539 non-null  int64
 4   AREA            727539 non-null  int64
 5   AREA NAME       727539 non-null  object
 6   Rpt Dist No     727539 non-null  int64
 7   Crm Cd          727539 non-null  int64
 8   Crm Cd Desc     727539 non-null  object
 9   Vict Age        727539 non-null  int64
 10  Vict Sex        629313 non-null  object
 11  Vict Descent    629307 non-null  object
 12  Premis Cd       727530 non-null  float64
 13  Premis Desc     727108 non-null  object
 14  Weapon Used Cd  247290 non-null  float64
 15  Weapon Desc     247290 non-null  object
 16  Status Desc     727539 non-null  object
 17  Crm Cd 1        727529 non-null  float64
 18  Crm Cd 2        51131 non-null   float64
 19  Crm Cd 3        1496 non-null    float64
 20  Crm Cd 4        44 non-null      float64
 21  LOCATION        727539 non-null  object
 22  Cross Street    117359 non-null  object
 23  LAT             727539 non-null  float64
 24  LON             727539 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(6), object(9)
memory usage: 138.8+ MB

## handling Missing values in the dataset 
1. Drop 5% or less of the total values for all the columns who have missing value

In [171]:
threshold = len(crimes) * .05 # 5% of the total value of the dataset
col_to_drop = crimes.columns[crimes.isna().sum() <= threshold] # check the sum of missing values for all the columns 
crimes.dropna(subset=col_to_drop, inplace=True) #Drop the columns and update the dataframe

In [160]:
crimes.isna().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Crm Cd                 0
Crm Cd Desc            0
Vict Age               0
Vict Sex           98215
Vict Descent       98221
Premis Cd              0
Premis Desc            0
Weapon Used Cd    479962
Weapon Desc       479962
Status Desc            0
Crm Cd 1               0
Crm Cd 2          676098
Crm Cd 3          725602
Crm Cd 4          727054
LOCATION               0
Cross Street      609758
LAT                    0
LON                    0
dtype: int64

2. Replace all the columns with missing values of more than 5% of the total values by the median

In [172]:
median_Weapon_Used_Cd = crimes["Weapon Used Cd"].median()
median_Crm_Cd_2 = crimes["Crm Cd 2"].median() #median value inside the "Crm Cd 2" column 
median_Crm_Cd_3 = crimes["Crm Cd 3"].median() #median value inside the "Crm Cd 2" column 
median_Crm_Cd_4 = crimes["Crm Cd 4"].median() #median value inside the "Crm Cd 2" column

In [162]:
#for Object type
crimes["Vict Sex"].fillna("Unknown",inplace=True)
crimes["Cross Street"].fillna("Unknown",inplace=True)
crimes["Vict Descent"].fillna("Unknown",inplace=True)
crimes["Weapon Desc"].fillna("Unknown",inplace=True)

#For floats type
crimes["Weapon Used Cd"].fillna(median_Weapon_Used_Cd,inplace=True)
crimes["Crm Cd 2"].fillna(median_Crm_Cd_2, inplace=True)
crimes["Crm Cd 3"].fillna(median_Crm_Cd_3, inplace=True)
crimes["Crm Cd 4"].fillna(median_Crm_Cd_4, inplace=True)

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Vict Sex"].fillna("Unknown",inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Cross Street"].fillna("Unknown",inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Vict Descent"].fillna("Unknown",inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Weapon Desc"].fillna("Unknown",inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Weapon Used Cd"].fillna(median_Weapon_Used_Cd,inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Crm Cd 2"].fillna(median_Crm_Cd_2, inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Crm Cd 3"].fillna(median_Crm_Cd_3, inplace=True)
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_31914/383064906.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crimes["Crm Cd 4"].fillna(median_Crm_Cd_4, inplace=True)

In [173]:
crimes.isna().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Crm Cd                 0
Crm Cd Desc            0
Vict Age               0
Vict Sex           98215
Vict Descent       98221
Premis Cd              0
Premis Desc            0
Weapon Used Cd    479962
Weapon Desc       479962
Status Desc            0
Crm Cd 1               0
Crm Cd 2          676098
Crm Cd 3          725602
Crm Cd 4          727054
LOCATION               0
Cross Street      609758
LAT                    0
LON                    0
dtype: int64

In [174]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 727098 entries, 0 to 727538
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           727098 non-null  int64
 1   Date Rptd       727098 non-null  datetime64[ns]
 2   DATE OCC        727098 non-null  datetime64[ns]
 3   TIME OCC        727098 non-null  int64
 4   AREA            727098 non-null  int64
 5   AREA NAME       727098 non-null  object
 6   Rpt Dist No     727098 non-null  int64
 7   Crm Cd          727098 non-null  int64
 8   Crm Cd Desc     727098 non-null  object
 9   Vict Age        727098 non-null  int64
 10  Vict Sex        628883 non-null  object
 11  Vict Descent    628877 non-null  object
 12  Premis Cd       727098 non-null  float64
 13  Premis Desc     727098 non-null  object
 14  Weapon Used Cd  247136 non-null  float64
 15  Weapon Desc     247136 non-null  object
 16  Status Desc     727098 non-null  object
 17  Crm Cd 1        727098 non-null  float64
 18  Crm Cd 2        51000 non-null   float64
 19  Crm Cd 3        1496 non-null    float64
 20  Crm Cd 4        44 non-null      float64
 21  LOCATION        727098 non-null  object
 22  Cross Street    117340 non-null  object
 23  LAT             727098 non-null  float64
 24  LON             727098 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(6), object(9)
memory usage: 144.2+ MB